
.navbar {
  background-color: #333;
  padding: 10px 0;
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center; 
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.navItem:hover {
  text-decoration: underline;
}


.post {
  background: white;
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 40px;
  margin: 20px auto;
  max-width: auto;
  text-align: center;
}

.postTitle {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.postContent {
  font-size: 16px;
  color: #666;
}


.postList {
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 80px; 
}

.app {
  font-family: Arial, sans-serif;
  min-height: 100vh; 
}
